<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submitted data</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Your data</h1>

<!--<p th:text="'lastName: ' + ${form.lastName}"></p>-->
<!--<p th:text="'name: ' + ${form.name}"></p>-->
<!--<p th:text="'middleName: ' + ${form.middleName}"></p>-->
<!--<p th:text="'age: ' + ${form.age}"></p>-->
<!--<p th:text="'salary: ' + ${form.salary}"></p>-->
<!--<p th:text="'email: ' + ${form.email}"></p>-->
<!--<p th:text="'workAddress: ' + ${form.workAddress}"></p>-->
<!--<a href="/form">Return to submit form</a>-->

<table>
    <tr>
        <td th:text="'lastName: ' + ${form.lastName}"/>
    </tr>
    <tr>
        <td th:text="'name: ' + ${form.name}"/>
    </tr>
    <tr>
        <td th:text="'middleName: ' + ${form.middleName}"/>
    </tr>
    <tr>
        <td th:text="'age: ' + ${form.age}"/>
    </tr>
    <tr>
        <td th:text="'salary: ' + ${form.salary}"/>
    </tr>
    <tr>
        <td th:text="'email: ' + ${form.email}"/>
    </tr>
    <tr>
        <td th:text="'workAddress: ' + ${form.workAddress}"/>
    </tr>
    <td>
        <td><a href="/form">Return to submit form</a></td>
    </tr>
</table>

</body>
</html>